<p>Hi <%#=@new_user.email %>,</p>

<p>
You have New User on Debtfriends.
</p>
<p>
	Here are details of User:
</p>	

<p>
	<b>Email : <%=@new_user.user.email %></b>
</p>	


<p>
	<b>First Name : <%=@new_user.first_name %></b>
</p>

<p>
	<b>Last Name : <%=@new_user.last_name %></b>
</p>

<p>
	<b>Phone Number : <%=@new_user.phone %></b>
</p>

<p>
	<b>Birth Date : <%=@new_user.birthdate %></b>
</p>

<p>
	<b>SSN # : <%=@new_user.ssn %></b>
</p>



<p>
Regards,<br>
DebtFriends	
</p>	

<p>
Copyright 2013 APayments Inc.<br>
2603 Camino Ramon Road,<br>
San Ramon, CA 94583<br>
1.888.357.8531<br>
support@debtfriends.com<br>
</p>	