<div class="page-columns">
    <div class="column half">

        <div class="rounded">
            <div class="info mh300px">

                <h3>Awaiting for Response</h3>

                <p class="param">
                    <label>This settlement is on hold for your account #:</label>
                    <span><%= @current_account.account_no %></span>
                </p>
                <p class="param">
                    <label>Original amount due:</label>
                    <span><%= number_to_currency(@current_account.amount, :precision => ((@current_account.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                </p>
                <p class="param">
                    <label>Starting Offer:</label>
                    <span><%= number_to_currency(@system_offer.amount, :precision => ((@system_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                </p>

                <% if @consumer_first_offer %>
                    <p class="param">
                        <label>Consumer Offer:</label>
                        <span><%= number_to_currency(@consumer_first_offer.amount, :precision => ((@consumer_first_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                    </p>
                <% end %>    

                 <% if @all_merchant_offers.size > 1 %>
                    <p class="param">
                    <label>Your Offer:</label>
                    <span><%= number_to_currency(@latest_offer.amount, :precision => ((@latest_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                    </p>
                <% end %>
            </div><!-- .info -->
            <div style="height: 5px"></div>
            <div class="foot"></div>
        </div><!-- .rounded -->

    </div><!-- .column.half -->
    <div class="column half">

        <div class="rounded blue">
            <% form_tag "#" do %>
            <div class="info mh365px">
              <div>
                <h3> The consumer may take several weeks to respond as they gather up money for the settlement. We will send you email alerts. Please login to Debtfriends weekly to check the status</h3>
               
                <p class="param">
                   
                </p>
              </div><!-- .info -->
             
            </div>
            <% end %>
            <div class="foot"></div>
        </div><!-- .rounded -->

    </div><!-- .column.half -->
</div><!-- .columns -->
