<div class="page-columns">
    <div class="column half">

        <div class="rounded">
            <div class="info mh300px">
                <% 
                unless current_user.biz?
                 if @latest_offer.by_consumer?
                    msg = "Your offer is rejected" 
                    right_panel_msg = "Your offer is rejected" 
                 else
                    msg = "You rejected the offer" 
                    right_panel_msg = "We will let your creditor know you rejected the offer. It may be possible that you will re-enter the debt, and initiate the settlement process- at another time."
                 end
                else
                  if @latest_offer.by_biz?
                    msg = "Your offer is rejected"
                    right_panel_msg = "You rejected the offer" 
                 else
                    msg = "You rejected the offer" 
                    right_panel_msg = "You rejected the offer" 
                    #right_panel_msg = "You rejected the offer" 
                 end  
                end 

                %>

                <h3><%=msg%></h3>

                <p class="param">
                    <label>Rejecting this settlement for your account #: </label>

                    <span><%= @current_account.account_no %></span>
                </p>
                <p class="param">
                    <label>Original amount due:</label>
                    <span><%= number_to_currency(@current_account.amount, :precision => ((@current_account.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                </p>

                <p class="param">
                    <label>Original Offer:</label>
                    <span><%= number_to_currency(@system_offer.amount, :precision => ((@system_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                </p>

                 <% if @consumer_first_offer %>
                    <p class="param">
                        <label>Next Offer:</label>
                        <span><%= number_to_currency(@consumer_first_offer.amount, :precision => ((@consumer_first_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                    </p>
                <% end %>    

                <% if @all_merchant_offers.size > 1 %>
                    <p class="param">
                    <label>Final Offer:</label>
                    <span><%= number_to_currency(@latest_offer.amount, :precision => ((@latest_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                    </p>
                <% end %>

            </div><!-- .info -->
            <div style="height: 5px"></div>
            <div class="foot"></div>
        </div><!-- .rounded -->

    </div><!-- .column.half -->
    <div class="column half">

        <div class="rounded blue">
            
            <div class="info mh365px">
              <div>
                <h3><%= right_panel_msg %></h3>
              </div><!-- .info -->
            </div>
            
            <div class="foot"></div>
        </div><!-- .rounded -->

    </div><!-- .column.half -->
</div><!-- .columns -->
