<h1>Congratulations, you have reached a successful debt settlement.
</h1>
<p> Remember for now, you can choose to pay here or pay the company you owe money to directly</p>

<div class="page-columns">
    <div class="column half">

        <div class="rounded">
            <div class="info mh300px">

                <h3>Final Settlement</h3>

                <p class="param">
                    <label>
                      <%= @current_account.company_name.camelize %> has accepted this settlement for your account#:
                    </label>
                    <span><%= @current_account.account_no %></span>
                </p>
                <p class="param">
                    <label>Original amount due:</label>
                    <span><%= number_to_currency(@current_account.amount, :precision => ((@current_account.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                </p>
                <p class="param">
                    <label>Settlement amount:</label>
                    <span><%= number_to_currency(@latest_offer.amount, :precision => ((@latest_offer.amount.to_s.reverse.match(/\b0[.](.*?)/)) ? 0 : 2)) %></span>
                </p>
            </div><!-- .info -->
            <div style="height: 5px"></div>
            <div class="info mh50px">
              You have reached a settlement on this account. Please contact the company you owe money to, and be sure to pay on time.

            </div><!-- .controls -->
            <div class="foot"></div>
        </div><!-- .rounded -->

    </div><!-- .column.half -->
    <div class="column half">

        <div class="rounded blue">
            <div class="info mh365px">
              <div>
                <h3>Will Pay the Settlement as Follows</h3>
                <p class="param">
                    <label>
                      Click 'Pay Now' below to make payment from checking or debit/credit card account now.
                      <br /><br />
<!--                       You can schedule your payment plan today or any day within the next 30 days.
 -->                    </label>
                </p>
              </div><!-- .info -->
              <div class="controls">
                <% payment_service_for @latest_offer.id, PAYPAL_ACCOUNT,
                  :amount => @latest_offer.amount, :currency => 'USD',
                  :service => :paypal do |service|
                   
                  service.item_name "Financial Services"    
          service.notify_url notify_url(:payment_id => @payment.id)  
                  service.return_url success_url(@payment.id)
                  service.cancel_return_url cancel_return_url(@payment.id) %>
                  
                  <input id="custom" name="custom" type="hidden" value="<%=@payment.id%>" />
                  
                  <% unless current_user.biz? %>
                  
                  <div class="controls">
                      <span class="button green on-blue">
                        <%= submit_tag("Pay Now") %></span>
                  </div><!-- .controls -->                
                 <% end %> 
                </div>      

              </div><!-- .info -->
            <div class="foot"></div>  
            </div>
            <% end %>
            
        </div><!-- .rounded -->

    </div><!-- .column.half -->
</div><!-- .columns -->
